/* Color Theme Swatches in Hex */
.night-sky-1-hex { color: #011C26; }
.night-sky-2-hex { color: #1F3D5C; }
.night-sky-3-hex { color: #1E6076; }
.night-sky-4-hex { color: #1F8A8F; }
.night-sky-5-hex { color: #D1A644; }
.night-sky-6-hex { color: #10263b; }


body {
  background-color: #011C26;
  margin-top: 0;
}

div.welcome-block {     /* WELCOME */
  background-image: url("img/background.jpg");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 260px;
}

div.slideshow {         /* WELCOME */
  text-align: center;
  padding-top: 150px;
  width: 600px;
  margin: auto;
}

/* ************* TEXTS *************** */
h1 {
  color: #D1A644;
  font-family: 'Pacifico', cursive;
}

h2 {
  color: #fff;
  font-family: 'Merriweather', serif;
}

div.recommendations-wrapper > h2 {
  position: relative;
  left: 50px;
}

h3 {
  color: #D1A644;
  font-family: 'Merriweather', serif;
}

h4 {
  color: #D1A644;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  position: relative;
  left: 50px;
}

h4.white {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  left: 0
}

p {
  color: #fff;
  font-family: 'Kameron', serif;

}

/* ******* MENU + BUTTONS ******* */

nav.menu {              /*TOP NAVIGATION*/
  width: 1000px;
  text-align: center;
  margin: auto;
}

button {
  color: #fff;
  font-family: 'Merriweather', serif;
  background-color: transparent;
  border-color: transparent;
  margin-right: 15px;
  margin-top: 15px;
}

button:hover {
  color: #011C26;
  background-color: #fff;
}

button.contact {
  color: #011C26;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  background-color: #D1A644;
  border-color: transparent;
  margin-left: 70px;
  padding: 8px 19px;
}

button.contact:hover {
  color: #fff;
  background-color: transparent;
  border-color: #D1A644;
  border-style: solid;
}

/* ******* BLOCK TITLES ******* */

div.block-titles {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: auto;
}

div.block-titles > h2 {
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

div.block-titles > img {
display: inline-flex;
width: 100px;
padding-left: 50px;
padding-right: 50px;
opacity: 0.7;
}

div.block-titles-wrapper > p {
  text-align: center;
  margin-bottom: 30px;
}

div.block-titles-wrapper {
  width: 600px;
  margin: auto;
}

/* ******* SINGLE FOOD BLOCK ******* */

div.single-food-block {
  width: 200px;
  background-color: #1E6076;
  padding: 0px;
  border-color: transparent;
  border-width: 0px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

div.single-food-block > img {
  width: 100%;
}

div.single-food-block > p, h3 {
  margin: 10px;
}

button.food-button {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  background-color: transparent;
  border-color: #D1A644;
  border-width: 1px;
  border-style: solid;
  width: 180px;
  padding: 8px 19px;
  margin: 10px;
}

button.food-button:hover {
  color: #000;
  background-color: #D1A644;
  border-color: #D1A644;
  border-width: 1px;
  border-style: solid;
}

/* ******* FOUR FOOD BLOCK ******* */

div.four-food-block {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

/* ******* FOOD WITH PRICES BLOCK ******* */

div.food-pairs-with-prices {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: auto;
}

div.single-food-with-prices {
  display: inline;
  align-content: center;
}

div.single-food-with-prices > img {
  float: left;
  padding: 10px;
}

div.prices-block {  /*ALL FOOD WITH PRICES */
  width: 100%;
  margin: auto;
  padding: 30px;
  background-color: #10263b;
  margin-bottom: 35px;
}

/* *******  RECOMMENDATIONS  ******* */

div.recommendations {
  background-color: #10263b;
  background-image: url(img/seasonings.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.recommendations-wrapper {
  width: 1000px;
  margin: auto;
}

div.single-recommendation {
  display: inline-block;
}

div.single-recommendation > button {
  background-color: rgba(0,0,0,0.35);
  border: none;
  margin: 15px;
  padding: 20px;
  text-align: left;
  width: 300px;
}

h4 > img {
  border-radius: 50%;
  width: 90px;
  position: relative;
  top: 35px;
  padding-right: 10px;
}

